<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title>Team</title>
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- SEO TAGS -->
    <meta name="title" content="Jurdi Law Firm">
    <meta name="description" content="MEDIA PRODUCTION, BROADCAST AND TECHNOLOGY LEGAL AFFAIRS ADVISORS">
    <meta name="keywords" content="MEDIA PRODUCTION, BROADCAST, TECHNOLOGY LEGAL AFFAIRS ADVISORS ,Lebanon">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Fadi eljurdi">

    <!--  Essential META Tags -->
    <meta property="og:title" content="Jurdi Law Firm">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="./assets/img/logo.png">
    <meta property="og:url" content="http://jurdilaw.com">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="MEDIA PRODUCTION, BROADCAST AND TECHNOLOGY LEGAL AFFAIRS ADVISORS">
    <meta property="og:site_name" content="Jurdi Law Firm">
    <meta name="twitter:image:alt" content="Jurdi Law Firm">

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/animations.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body id="app">
    <!-- Geo block -->
    <section v-if="geo" class="geo-block" @click="unGeoBlock">
        <geo></geo>
    </section>
    <!-- Spinner -->
    <section v-if="spinner" class="geo-block">
        <center class="my-5 d-flex flex-column justify-content-center align-items-center">

            <img src="assets/img/logo.png" alt="Jurdi Logo"
                class="img-fluid rounded my-4" width="120">
            <!-- <h1 class="fs-1 text-center cin text-grey-2 my-3">Jurdi Law</h1> -->
            <div class="spinner-grow text-light mt-5" role="status"></div>
        </center>
    </section>


    <!-- Header -->
    <my-nav :profile="profile"></my-nav>

    <main>




        <!-- Team Section -->
        <h2 class="text-center text-grey-2 fs-2">Our Team</h2>
        <h5 class="fs-5 text-grey-1 text-center container my-3">
            {{profile.teamHeading}}
        </h5>

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">

            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div v-for="t in profile.team" class="col-lg-3 col-md-6 d-flex align-items-stretch glow-h"
                        data-aos="fade-up" data-aos-delay="100">
                        <div class="member shadow">
                            <div class="member-img">
                                <img :src="t.url" class="img-fluid" alt="t.name">
                                <div class="social">
                                    <a :href="'mailTo:'+t.email"><i class="bi bi-envelope"></i></a>
                                    <a :href="t.linkedin"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>{{t.name}}</h4>
                                <span>{{t.jobTitle}}</span>
                                <p> {{t.description}} </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </section><!-- End Team Section -->

        <hr class="w-75 mx-auto">
        <!-- Team Section -->


        <!-- CONTACT SECTION -->
        <contact :profile="profile"></contact>

    </main>


    <!-- FOOTER -->
    <my-footer :profile="profile"></my-footer>

    <!-- JAVASCRIPT -->
    <script src="assets/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
    <script src="assets/js/app.js"></script>
</body>

</html>