@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --dark-1: #000814;
    --dark-2: #1b263b;
    --dark-x: #0d1b2a;
    --blue: #003566;
    --logo-color: #0C234D;
    --grey-1: #415a77;
    --grey-2: #778da9;

    --light-theme: #e0e1dd;

}

a {
    text-decoration: none !important;
}

nav>a {
    transition: .3s;
    color: inherit !important;
    text-decoration: none !important;
}

/* GENERAL CLASSES */
.no-select{
    user-select: none;
}
.cin {
    font-family: 'Cinzel', serif;

}

.glow {
    filter: drop-shadow(0px 0px 44px rgb(157, 163, 222)) !important;
}

.btn-primary {
    background-color: var(--blue) !important;
}

.glow-h:hover {
    transition: .4s;
    filter: drop-shadow(0px 0px 44px rgb(157, 163, 222)) !important;
}

.glow2 {
    box-shadow: 0px 0px 20px rgb(157, 163, 222) !important;
}

.glow-blue:hover {

    box-shadow: 0 0 8px rgb(73 173 255);
}

.point {
    cursor: pointer;
}

.ls-2 {
    letter-spacing: 2px;
}

.bg-dark-1 {
    background-color: var(--dark-1);
}

.bg-dark-2 {
    background-color: var(--dark-2);
}

.bg-grey-1 {
    background-color: var(--grey-1);
}

.bg-grey-2 {
    background-color: var(--grey-2);
}

.bg-dark-x {
    background-color: var(--dark-x) !important;
}

.text-grey-1 {
    color: var(--grey-1);
}

.text-grey-2 {
    color: var(--grey-2);
}

hr {
    height: 2px;
    background-color: var(--grey-2);
}

.w-85 {
    width: 85% !important;
}
.h-250px{
    height: 250px;
}
/* BODY */
body {
    /* background-color: var(--dark-1) !important; */
    background-color: #000814 !important;
    /* background: rgb(0, 53, 102);
    background: linear-gradient(177deg, rgba(0, 53, 102, 1) 0%, rgba(13, 27, 42, 1) 70%);
    overflow-x: hidden !important; */
}

.geo-block {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-1);
    z-index: 9999;
}

/* HEADER */
header {
    z-index: 100;
    background-color: var(--dark-1);

}

header>h1 {
    margin-bottom: 0px !important;
}

nav {
    display: flex;
}

nav>a:hover {
    letter-spacing: 2px;
}

.menu {
    display: none;
}

.media-links>a>i {
    color: var(--grey-2);
}

.media-links>a {

    transition: .3s;
}

.media-links>a:hover {
    transform: scale(1.4);
}

/* MAIN */
main {
    margin-top: 120px;
}

.pot {
    position: relative;
    width: 300px;
    height: 300px;
    transition: .3s;
    cursor: pointer;
}

.pot>h4 {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    left: 1rem;
    color: var(--light-theme);

}

.pot:hover {
    letter-spacing: 2px;
    transform: scale(1.1);

    /* box-shadow: 0 0 8px rgb(73 173 255); */

}

.offcanvas {
    /* background-color: var(--dark-x) !important; */
}

.modal-content {
    background-color: var(--dark-x) !important;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--grey-2);
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    background: var(--dark-1);
    padding: 60px 0;
}

.team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: var(--dark-2);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* background: url(../img/team-shape.svg) no-repeat center bottom; */
    background-size: contain;
    z-index: 1;
}

.team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}

.team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
    font-size: 18px;
}

.team .member .member-info {
    padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--light-theme);
}

.team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-2);
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: var(--grey-1);
}

.team .member:hover {
    transform: scale(1.08);

    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
    right: 8px;
    opacity: 1;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    background: var(--dark-2);
    padding: 30px;
}

.contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}

.contact .info-box h3 {
    font-size: 20px;
    color: var(--light-theme);
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: var(--grey-2);
}

.contact .php-email-form {
    background: var(--dark-2);
    padding: 30px;
    height: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom-style: solid;
    border-color: var(--light-theme);
    color: var(--grey-2);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #4154f1;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    /* background: var(--bs-primary);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px; */
}

.contact .php-email-form button[type=submit]:hover {
    /* background: #5969f3; */
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}